.detailed-page {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.poster-info {
    display: flex;
    gap: 20px;
}

.poster-info .poster {
    flex-shrink: 0; /* Prevent the poster from growing */
}

.info {
    flex-grow: 1;
}

.movie-details {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.overview {
    width: 50%; /* Adjust as needed */
}

.homepage, .imdb-link, .overview, .review {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

.homepage, .imdb-link {
    margin-bottom: 20px;
}

.review {
    margin-top: 10px; /* Add some space between reviews */
}

.production-companies {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px; /* Add some space above production companies */
}